.aboutProject {
    margin: 0;
    padding: 110px 70px 110px 70px;
    background-color: #202020;
}

.aboutProject__text-block {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.aboutProject__column {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.aboutProject__column-header {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.aboutProject__column-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.aboutProject__line-block {
    margin-top: 110px;
    display: flex;
    flex-direction: row;

}

.aboutProject__line {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.aboutProject__linetext {
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.aboutProject__linetext_background_green {
    width: 228px;
    height: 36px;
    font-weight: 400;
    background-color: #3DDC84;
    color: #000000;
}

.aboutProject__linetext_background_grey {
    width: 912px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #303030;
    height: 36px;
}

.aboutProject__linetext_color_grey {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}