.portfolio {
    background: #202020;
    padding: 110px 70px 125px 70px;
}

.portfolio__aboutBlock {
    margin: 0;
    padding: 66px 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 270px;
    align-items: flex-start;
    justify-content: flex-start;
}

.portfolio__textBlock {
    max-width: 600px;

}

.portfolio__name {
    margin: 0 0 18px 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.portfolio__about {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.portfolio__about_grey {
    margin-top: 101px;
    font-weight: 400;
    color: #8B8B8B;
    mix-blend-mode: normal;
}

.portfolio__text {
    margin: 26px 0 99px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.portfolio__image {
    width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio__link {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.portfolio__list {
    list-style: none;
    margin: 50px 0 0 0;
    padding-inline-start: 0;
}

.portfolio__list-item {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio__list-link {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

.portfolio__arrowLink {
    width: 29px;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.portfolio__line {
    height: 0;
    width: 100%;
    margin: 9px 0 20px 0;
    border: none;
    border-top: 1px solid #424242;
}