.logo {
    margin: 0;
    width: 100%;
    min-height: 560px;
    background: #073042;
    background-image: url('../../../images/landing-logo.svg');
    background-repeat: no-repeat;
    background-size: 722px 244px;
    background-position: right 70px bottom 60px;
}

.logo__header {
    margin: 0;
    max-width: 626px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    position: relative;
    top: 50px;
    left: 70px;
}

