.form {
    background: #202020;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__content {
    max-width: 396px;
    width: 100%;

}

.form__logo {
    width: 38px;
    height: 38px;
}

.form__header {
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form__fieldset {
    width: 100%;
    border: none;
    padding: 0;
}

.form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
}

.form__label {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.form__input {
    max-width: 366px;
    min-height: 16px;
    padding: 15px;
    width: 100%;
    background: #2F2F2F;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.form__error {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.form__save-button {
    margin-top: 69px;
    width: 100%;
    background: #4285F4;
    border-radius: 3px;
    padding: 13px 0 15px 0;
    border: none;
}

.form__buttonText {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.form__link {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.form__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.form__text_blue {
    color: #4285F4;
}