.promo {
    margin: 0;
    min-height: 560px;
    background: #073042;
    background-image: url('../../../images/landing-logo.svg');
    background-repeat: no-repeat;
    background-size: 722px 244px;
    background-position: right 70px bottom 60px;
}

.promo__header {
    margin: 0;
    max-width: 626px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    position: relative;
    top: 50px;
    left: 70px;
}

@media (max-width: 768px) {
    .promo {
        padding: 300px 44px 70px 44px;
        display: flex;
        flex-direction: column;
        gap: 140px;
        align-items: center;
        background-size: 680px 230px;
        background-position: right 44px bottom 70px;
    }

    .promo__header {
        text-align: center;
       top: 0;
       left: 0;
    }
}